.schedule-drop {
  border: 0 1px 0 1px solid red;
  background: rgba(100, 220, 50, 0.2);
}

.schedule-drop.current-drop {
  background: rgba(100, 220, 50, 0.8);
}

.gp-table {
  display: table;
  border-collapse: collapse;

  .project-row {
    border-bottom: 1px solid grey;
  }
  .project-row:nth-child(odd) {
    background-color: whitesmoke;
  }
}
.week-headers {
  display: none;
  border-bottom: 1px solid grey;

  &.active {
    display: table-row;
  }

  > li {
    display: table-cell;
    font-weight: bold;
    padding: 0 15px;
  }
}

.plan-header {
  display: table-caption;
}

.project-row {
  display: table-row-group;
}
.project-row-list {
  display: table-row;

  .project-name {
    margin-right: 1em;
  }
  .project-row-header {
    font-weight: bold;
    display: table-cell;
  }

  > li {
    display: table-cell;
  }
}

.project-row-item {
  padding: 0 15px;

  &.monthly-boundary {
    border-right: 1px dashed grey;
  }

}

.assignment-list {
  padding: 0;


  > li {
    display: table-row;
    text-align: left;
  }
}

.empty-droplist {
  min-height: 20px;
  min-width: 20px;
}
